<div class="p-2 sm:ml-64 mt-[100px]">
  <div class="flex justify-center items-center">
    <img
      class="relative lg:max-w-[89px] lg:max-h-[89px] max-w-[89px] rounded-md mr-2"
      src="https://yt3.ggpht.com/ytc/AIf8zZQ8cAfgVyvnv1WNgS2yho5PrGerutZI7GKSm4wCAg=s800-c-k-c0xffffffff-no-rj-mo"
    />
    <div class="about pl-[4rem] flex flex-col">
      <h3 class="font-semibold text-neutral-50 text-lg">Wanderbot</h3>
      <div class="flex justify-center items-center">
        <i class="fab fa-twitch text-purple-700 text-lg p-1"></i>
        <i class="fab fa-youtube text-red-500 text-lg p-2"></i>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-start h-12 mb-4 gap-2 mt-5">
    <button class="bg-gray-500 text-neutral-50 text rounded-md p-1 text-base">
      Add to Favorites
    </button>
    <button class="bg-gray-500 text-neutral-50 text rounded-md p-1 text-base">
      Similar
    </button>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="flex items-center justify-center rounded bg-background-900">
      <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">
        <i class="fa-solid fa-users text-xl"></i>
      </div>

      <div class="mx-5">
        <h4 class="text-2xl font-semibold text-neutral-100">4644</h4>
        <div class="text-gray-500">Youtube Subscribers</div>
      </div>
    </div>
    <div
      class="flex items-center justify-center rounded h-28 bg-background-900"
    >
      <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">
        <i class="fa-solid fa-tower-broadcast text-xl"></i>
      </div>

      <div class="mx-5">
        <h4 class="text-2xl font-semibold text-neutral-100">4644</h4>
        <div class="text-gray-500">
          Views last 7days
          <i class="fa-solid fa-arrow-up text-sm text-green-400"> +10%</i>
        </div>
      </div>
    </div>
    <div
      class="flex items-center justify-center rounded 0 h-28 bg-background-900"
    >
      <div class="flex items-center justify-center rounded bg-background-900">
        <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">
          <i class="fa-solid fa-video text-xl"></i>
        </div>

        <div class="mx-5">
          <h4 class="text-2xl font-semibold text-neutral-100">4644</h4>
          <div class="text-gray-500">Total youtube Views</div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center rounded bg-background-900">
      <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">
        <i class="fa-solid fa-users text-xl"></i>
      </div>

      <div class="mx-5">
        <h4 class="text-2xl font-semibold text-neutral-100">6644</h4>
        <div class="text-gray-500">Twitch followers</div>
      </div>
    </div>
    <div
      class="flex items-center justify-center rounded h-28 bg-background-900"
    >
      <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">
        <i class="fa-solid fa-tower-broadcast text-xl"></i>
      </div>

      <div class="mx-5">
        <h4 class="text-2xl font-semibold text-neutral-100">4644</h4>
        <div class="text-gray-500">Avg Twitch Viewers</div>
      </div>
    </div>
    <div
      class="flex items-center justify-center rounded 0 h-28 bg-background-900"
    >
      <div class="flex items-center justify-center rounded bg-background-900">
        <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">
          <i class="fa-solid fa-video text-xl"></i>
        </div>

        <div class="mx-5">
          <h4 class="text-2xl font-semibold text-neutral-100">44</h4>
          <div class="text-gray-500">Twitch rank</div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-0 mt-4">
    <div
      class="flex flex-col items-start justify-start rounded 0 bg-background-900 px-2 border-r border-b border-neutral-800"
    >
      <h3
        class="p-2 border-b border-neutral-800 w-full text-lg text-accent-400 mb-2 font-semibold text-center"
      >
        Contacts and socials
      </h3>
      <p class="text-neutral-200">
        <i class="fa fa-envelope p-2"></i> Peter@gmail.com
      </p>
      <p class="text-neutral-200">
        <i class="fa-brands fa-square-x-twitter p-2"></i>Petreleven
      </p>
      <p class="text-neutral-200">
        <i class="fa-brands fa-instagram p-2"></i> Peter@gmail.com
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-center rounded 0 bg-background-900 px-2 border-r border-neutral-800"
    >
      <h3
        class="p-2 text-center border-neutral-800 w-full text-lg text-accent-400 mb-2 font-semibold"
      >
        Game Genres Played
      </h3>
      <canvas id="chartId" aria-label="chart" height="350" width="580"></canvas>
      <script>
        var chrt = document.getElementById("chartId").getContext("2d");
        var chartId = new Chart(chrt, {
          type: "doughnut",
          data: {
            labels: ["Rouguelike", "2d", "Platformer"],
            datasets: [
              {
                label: "Game gnres played",
                data: [20, 40, 13],
                backgroundColor: ["#070F2B", "#1B1A55", "#535C91", "#9290C3"],
                hoverOffset: 5,
              },
            ],
          },
          options: {
            responsive: false,
          },
        });
      </script>
    </div>
  </div>
</div>
